.title-h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:red;
    text-align: center;
    text-decoration: underline;
}

ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
}